@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Пожалуйста проверьте Вашу почту для продолжения процедуры сброса пароля.
</p>

