@page
@model LockoutModel
@{
    ViewData["Title"] = "Пользователь заблокирован";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Этот аккаунт был заблокирован.</p>
    <p class="text-danger">Если считаете, что это произошло по ошибке, пожалуйста, обратитесь к администратору системы.</p>
</header>
