@page
@model LoginModel

<div id="logreg-forms">
    <h1 class="h3 mb-3 font-weight-normal text-info" style="text-align:center;">Вход</h1>
    <form id="account" method="post">

        <div class="p-4 bg-light border">
            <div class="p-4 bg-light">
                <div class="mb-3 row">
                    <label class="col-sm-1 col-form-label">Почта:</label>
                    <div class="col-sm-10">
                        <input asp-for="Input.Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-1 col-form-label">Пароль:</label>
                    <div class="col-sm-10">
                        <input asp-for="Input.Password" type="password" class="form-control" id="floatingPassword" placeholder="Пароль">
                    </div>
                </div>


                <br />

                <div class="mb-3 row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-10">
                        @*<button type="submit" class="btn btn-success btn-block"><i class="<i class="fas fa-sign-in-alt"></i>"></i>Войти</button>*@
                        <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Войти</button>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-10">
                        <a id="forgot-password" asp-page="./ForgotPassword" class="p-0 text-info">Забыли пароль?</a>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
