@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль изменён. Пожалуйста <a asp-page="./Login">кликните здесь, чтобы войти</a>.
</p>
