@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using ALIS_Utility
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ALIS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fontawersome/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" crossorigin="anonymous" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User)) {                         
                        <li class="nav-item">
                            <a class="nav-link text-white-50" asp-area="" asp-controller="Book" asp-action="Index"><i class="fas fa-home"></i></a>
                        </li>                        
                        @if (User.IsInRole(WC.AdminRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-tools"></i> Администрирование
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Person" asp-action="Index"><i class="fas fa-users"></i> Сотрудники / студенты / пользователи</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-list"></i> Справочники
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Author" asp-action="Index"><i class="fas fa-user-edit"></i> Авторы</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="AuthorType" asp-action="Index"><i class="fas fa-pen-alt"></i> Типы авторства</a>
                                    <a><hr class="dropdown-divider"></a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Grif" asp-action="Index"><i class="fas fa-stamp"></i> Грифы</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Genre" asp-action="Index"><i class="fas fa-theater-masks"></i> Жанры</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Publisher" asp-action="Index"><i class="fas fa-building"></i> Издатели</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Tag" asp-action="Index"><i class="fas fa-tags"></i> Тэги</a>
                                </div>
                            </li>

                        }

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-book-open"></i> Библиотека
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Book" asp-action="Index"><i class="fas fa-book"></i> Книги</a>
                                <a class="dropdown-item" asp-area="" asp-controller="BookCopy" asp-action="Index"><i class="fas fa-th-list"></i> Экземпляры</a>
                            </div>
                        </li>
                        }
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notifications" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-dark">
        <div class="container text-white-50">
            &copy; ALIS - <a href="http://spospk.ru/">СПК</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
