body {
    background: #cfd8dc;
}

.card-container {
    font-family: 'Open Sans', sans serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    width: 400px;
    height: 250px;
    margin: 80px auto;
    border-radius: 10px;
    perspective: 1400px;
}

.card {
    position: relative;
    height: 100%;
    border-radius: 10px;

    width: 100%;

    /*transform-style: preserve-3d;*/
}

.back {
    /*display: flex;*/


    border-color: black; /* Цвет границы */
    border-style: solid; /* Стиль границы */
    /*padding: 5px;*/ /* Поля вокруг текста */

    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden; 
}

.text {
    color: black;
    margin-top: 23%;
    text-align: center;
}

.barcode {
    color: black;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}

.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/PersonBarcodeFrame.png) !important;
    overflow: hidden;
    position: relative;
    /*transition: filter 0.5s cubic-bezier(.43,.41,.22,.91); */
}

@font-face {
    font-family: Barcode;
    src: url(../fonts/c39hrp48dhtt.ttf);
}

.barcode {
    font-weight: normal;
    letter-spacing: normal;
    font-stretch: normal;
    font-family: Barcode;
    font-size: 96px;
}

@media print {
    * {
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        color-adjust: exact !important; /*Firefox*/
    }
}
